{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}

{% comment %} HEEEEROOOOOO {% endcomment %}
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        {% for block in page.hero_blocks.all %}
          <h1>{{ block.title }}</h1>
          <p>{{ block.subtitle }}</p>
        {% endfor %}
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#contact" class="btn-get-started">Связаться с нами</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="{% static 'home/img/rm373batch2-50.png' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

{% comment %} PRODUCTS {% endcomment %}
<section class="popular-services">
  <div class="container">
    {% for block in product_title %}
      <h3 class="popular-h3">{{ block.title }}</h3>
    {% endfor %}
    <div class="p-table-row">
    </div>
    {% for block in sorted_list %}
      <div class="p-table-row">
        {% for product in block %}
          <a class="p-table-link" href="{% pageurl product.link_page %}">
            <div class="p-table-item">
              <div class="p-table-icon"></div>
              {% image product.icon original %}
              <h4>{{ product.name }}</h4>
              <p class="p-table-context">{{ product.description }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

{% comment %} CLIEEEEENTS {% endcomment %}
<section id="clients" class="clients">
  <div class="clients-inner">
    <div class="container">
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          {% for client in page.clients.all %}
            <div class="swiper-slide">
              {% image client.icon original as client_icon %}
              <img src="{{ client_icon.url }}" alt="{{ client_icon.alt }}" class="img-fluid">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} WHY CHOOSE US {% endcomment %}
<section id="services" class="services sections-bg">
  <div class="container">
    <div class="section-header">
      {% for block in chooseus_title %}
        <h2>{{ block.title }}</h2>
      {% endfor %}
    </div>
    <div class="row gy-4 swiper-container">
      {% for item in page.chooseus_block.all %}
        {% for block in item.chooseus_items.all %}
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                {% image block.icon original %}
              </div>
              <h3>{{ block.name }}</h3>
              <p>{{ block.description }}</p>
            </div>
          </div><!-- End Service Item -->
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section><!-- End Our Services Section -->

{% comment %} NEEEEEWWWSOPMAI {% endcomment %}
<div id="recent-blog-posts" class="recent-blog-posts">
  <div class="container">
    <div id="slider" class="pt-5">
      <div class="container">
        <div class="section-header">
          <h2>Новости</h2>
        </div>
        <div class="slider">
          <div class="owl-carousel">
            {% for article in news %}
              <div class="slider-card">
                <div class="d-flex justify-content-center align-items-center mb-4">
                  {% image article.feed_image original as news_image %}
                  <img src="{{ news_image.url }}" alt="news image">
                </div>
                <div class="post-content d-flex flex-column" style="position: relative;margin-left:30px;margin-right:30px;background-color:white;z-index:999;bottom:50px;border-radius:6px;border: 1px solid #E3E3E3;padding-bottom:15px;height:360px;">
                  <h3 class="post-title" style="color:#143773;font-size: 18px;font-weight: 600;margin-top:20px;margin-left:10px;margin-right:10px">{{ article.title }}</h3>
                  <div class="align-items-left">
                    <div class="align-items-left" style="margin-left:10px;margin-right:10px;font-size:14px">
                      <span class="ps-2">{{ article.body|richtext }}</span>
                    </div>
                  </div>
                  <a href="http://localhost:8000/blog-child/{{ article.slug }}" class="readmore stretched-link" style="margin-left: 10px;margin-top:40px;"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} FAAAAAAAAAQ {% endcomment %}
{% for block in page.faq_blocks.all %}
<section class="faq-part">
  <div class="faq-inner">
    <div class="container">
      <div class="faq-col1">
        <h4>{{ block.header }}</h4>
        <p>{{ block.info }}</p>
      </div>
      <div class="faq-col2">
        <div class="list">
          {% for faq in block.faqs.all %}
          <div class="faq-div">
            <details>
              <summary>
                <span class="faq-slider-header">{{ faq.question|richtext }}</span>
              </summary>
              <div>
                <p class="faq-slider-context">{{ faq.answer|richtext }}</p>
              </div>
            </details>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/vendor/aos/aos.js' %}"></script>
<script src="{% static 'home/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'home/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'home/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'home/js/main.js' %}"></script>
<script src="{% static 'home/js/col.js' %}"></script>
<script src="{% static 'home/js/script.js' %}"></script>
{% comment %} for client {% endcomment%}
<script>
  function changeBackground() {
    let f = document.querySelector(".clients")
    f.style.background = "{{ block.background }}";
  }
  window.addEventListener("load", function() { changeBackground() });
</script>
{% endblock %}