{% load wagtailimages_tags %}

<section id="clients" class="clients">
    <div class="clients-inner">
        <div class="container clients-block">
            <p>{{self.title}} </p>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    {% for client_image in self.images %}
                    <div class="swiper-slide">
                        {% image client_image.image original as client_icon %}
                        <img src="{{ client_icon.url }}" alt="{{ client_icon.alt }}" class="img-fluid">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>