{% load wagtailimages_tags %}

<section id="featured-services" class="featured-services">
    <div class="container" style="text-align:center;padding-bottom:20px;color:white">
        <h2>{{self.main_header}}</h2>
    </div>
    <div class="container">

        <div class="row gy-4">
            {% for item in self.icons %}
            <div class="col-lg-4 col-md-6 service-item d-flex">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
                <div>
                    <div class="title">
                        {% image item.icon original as feature_icon %}
                        <img src="{{feature_icon.url}}">
                    </div>
                    <p class="description" style="color:white">{{item.title}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section><!-- End Featured Services Section -->


<section id="hero" style="background-color:#142222; padding-bottom: 3rem;">
    <div class="slider-container">
        {% for item in self.slider %}
        {% image item.image original as wwwwwwwwwwww %}
        <img src="{{ wwwwwwwwwwww.url }}" alt="">

        {% endfor %}
    </div>
    <div class="slider-buttons">
        <button class="prev-button"><span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span></button>

        <button class="next-button"><span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
</section>
<!-- End Hero -->

<style>
    
    .slider-container {
        width: 100%;
        height: 55rem;
        overflow: hidden;
        position: relative;
        padding: 0 10rem;
    }

    .slider-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .slider-buttons {
        margin-top: 10px;
    }

    .prev-button,
    .next-button {
        font-size: 16px;
        background: linear-gradient(242.33deg, #E9E7E7 17.87%, rgba(244, 240, 240, 0.56) 98.86%);
        border: none;
        cursor: pointer;
        border-radius: 50%;
    }
    .carousel-control-prev-icon {
        background: linear-gradient(242.33deg, #E9E7E7 17.87%, rgba(244, 240, 240, 0.56) 98.86%);

    }

    .prev-button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .next-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .prev-button:hover,
    .next-button:hover {
        background-color: #e0e0e0;
    }

</style>



<script>
    const sliderContainer = document.querySelector('.slider-container');
    const prevButton = document.querySelector('.prev-button');
    const nextButton = document.querySelector('.next-button');
    const images = Array.from(sliderContainer.getElementsByTagName('img'));
    let currentIndex = 0;

    function showImage(index) {
        images.forEach((image, i) => {
            if (i === index) {
                image.style.display = 'block';
            } else {
                image.style.display = 'none';
            }
        });
    }

    prevButton.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + images.length) % images.length;
        showImage(currentIndex);
    });

    nextButton.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % images.length;
        showImage(currentIndex);
    });

    // Show the initial image
    showImage(currentIndex);

</script>