{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

<section class="popular-services">
  <div class="container">
    <h3 class="popular-h3">{{self.title}}</h3>

    <div class="row gy-4">
      {% for product in self.items %}
      <a class="p-table-link" href="{% pageurl product.link_page %}">
        <div class="p-table-item">
          {% image product.image original as yy %}
          <img class="p-table-icon" src="{{yy.url}}" alt="">
          <h4>{{product.name}}</h4>
          <p class="p-table-context">{{product.description}}</p>
        </div>
      </a>

      {% endfor %}
    </div>
  </div>
</section>