{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<div id="recent-blog-posts" class="recent-blog-posts">
    <div class="container">
      <div id="slider" class="pt-5">
        <div class="container">
          <div class=" section-header">
            <h2>{{self.title}}</h2>
          </div>

          <div class="slider">
            <div class="owl-carousel">

              {% for article in news %}
              
              <div class="slider-card">
                <div class="d-flex justify-content-center align-items-center mb-4">
                    {% image article.feed_image fill-500x270-c100 as news_image %}
                    <img src="{{news_image.url}}" alt="news image">
                </div>
                <div class="post-content d-flex flex-column"
                  style="position: relative;margin-left:30px;margin-right:30px;background-color:white;z-index:999;bottom:50px;border-radius:6px;border: 1px solid #E3E3E3;padding-bottom:15px;height:360px;">

                  <h3 class="post-title"
                    style="color:#143773;font-size: 18px;font-weight: 600;margin-top:20px;margin-left:10px;margin-right:10px">
                    {{article.title}}</h3>

                  <div class="align-items-left">
                    <div class="align-items-left" style="margin-left:10px;margin-right:10px;font-size:14px">
                      <span class="ps-2">{{article.body|richtext}}</span>
                    </div>
                  </div>
                
                  <a href="{{article.get_full_url}}" class="readmore stretched-link"
                    style="margin-left: 10px;margin-top:40px;"><span>Подробнее</span><i
                      class="bi bi-arrow-right"></i></a>

                </div>
              </div>
              {% endfor %}
      

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>